<footer class="text-center text-white footer" style="background-color: hsl(220, 24%, 12%);">
    <!-- Section: Social media -->
    <div class="p-4">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#"><i class="fab fa-google"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#"><i class="fab fa-github"></i></a>
      </section>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: hsl(220, 24%, 15%);">
      © 2025 Wei
    </div>
  </footer>
  